*{
    margin: 10px;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px;
}
.grid-item{
    background-color: white;
    padding: auto;
}
button{
    background-color: cornflowerblue;
    color: white;
    border-color:cornflowerblue;
    border-radius:20px;
}